<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ seo.title|title }}</title>
    <meta name="description" content="{{ seo.description }}">
    <link rel="stylesheet" href="{{ base_url() }}/assets/style.css">
</head>
<body>
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('about') }}">About</a></li>
    </ul>